version: '3'

services:
    neo4j:
        image: neo4j:4.4
        ports:
            - 7474:7474
            - 7687:7687
            - 2004:2004
        environment:
            NEO4J_AUTH: neo4j/password
            NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
            NEO4J_metrics_prometheus_enabled: "true"
            NEO4J_metrics_prometheus_endpoint: "0.0.0.0:2004"
        volumes:
            - neo4j_data:/data
            - neo4j_logs:/logs
    bolt-proxy:
        build:
            context: .
        ports:
            - 8080:8080
            - 9090:9090
        environment:
            BOLT_PROXY_BIND: "0.0.0.0:8080"
            BOLT_PROXY_URI: "bolt://neo4j:7687"
            BOLT_PROXY_USER: "neo4j"
            BOLT_PROXY_PASSWORD: "password"
            BOLT_PROXY_METRICS_PORT: "9090"
            BOLT_PROXY_DEBUG: "1"
        restart: on-failure
        depends_on:
            - neo4j
    prometheus:
        image: prom/prometheus:latest
        ports:
            - 9091:9090
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
        restart: unless-stopped
    grafana:
        image: grafana/grafana:latest
        ports:
            - 3001:3000
        volumes:
            - grafana-storage:/var/lib/grafana
            - ./grafana/provisioning:/etc/grafana/provisioning
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - GF_USERS_ALLOW_SIGN_UP=false
        restart: unless-stopped

volumes:
    neo4j_data:
    neo4j_logs:
    grafana-storage:
